version: '3'

services:
  go:
    build:
      context: ../.
      dockerfile: build/Dockerfile.dev
#      target: build
    volumes:
      - ./:/go/app
    command: air
    ports:
      - 8888:8080
#      - 2345:2345
    tty: true
#    security_opt:
#      - apparmor:unconfined
#    cap_add:
#      - SYS_PTRACE

  redis:
    image: redis
    ports:
    - 6379:6379
    volumes:
    - ./data/redis:/data
